.header-bar {
  display: flex;

  height: 50px;
  width: 100vw;
  padding-top: 10px;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid lightgray;
  background-color: white;
}

.between {
  display: flex;
}

.header-text {
  margin-left: 10px;
}
.header-text-top {
  display: flex;
  flex-direction: row;
  margin: 2px;
}

.header-text-bottom {
  font-size: 10px;
  color: gray;
}
.degree {
  font-size: 12px;
  height: 15px;
  width: 30px;
  border: 1px solid black;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 2px;
}

.header-bar img {
  height: 30px;
}

.selling-title {
  display: flex;
  align-items: center;
  border-bottom: 1px solid lightgray;
  margin-top: 10px;
}

.selling-title img {
  height: 50px;
  margin-left: 20px;
  margin-right: 20px;
}

.chat-me {
  display: flex;
  justify-content: right;
  margin-right: 20px;
  margin-top: 20px;
  margin-bottom: 30px;
}

.chat-me-time {
  font-size: 10px;
  margin-top: 40px;
  color: gray;
}

.chat-me-text {
  background-color: coral;
  border-radius: 40px 0px 40px 40px;
  height: 30px;
  width: 250px;
  padding: 15px;
  color: azure;
  font-size: 17px;
}

.chat-you {
  display: flex;
  justify-content: left;
  margin-left: 10px;
}
.chat-you-img {
  height: 50px;
}

.chat-you-text {
  background-color: lightgray;
  border-radius: 0px 40px 40px 40px;
  height: 15px;
  width: 150px;
  padding: 15px;
  color: black;
  font-size: 17px;
  margin-left: 10px;
}

.chat-you-time {
  font-size: 10px;
  margin-top: 40px;
  color: gray;
}

.appoinment {
  border: 1px solid lightgray;
  margin: 10px;
  padding: 10px;
  border-radius: 3px;
}

.appoinment-box-top {
  display: flex;
  justify-content: left;
  align-items: center;
  margin-bottom: 5px;
  font-weight: bold;
}
.appoinment-text {
  display: flex;
  justify-content: center;
  align-items: center;
}

.appoinment-box-top img {
  height: 15px;
  margin-left: 50px;
  margin-right: 5px;
}

.alarm-text {
  font-size: 13px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: gray;
}

.footer-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 35px;
  background-color: rgb(221, 221, 221);
  width: 100vw;
}
.footer-bar img {
  height: 20px;
  margin-left: 10px;
  margin-right: 10px;
}

.input-message {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 250px;
  height: 30px;
  background-color: white;
  border-radius: 30px;
  padding-left: 10px;
  padding-right: 10px;
}

.input-message-text input {
  width: 220px;
  border: none;
}

header {
  position: fixed;
  top: 0;
}
main {
  margin-top: 70px;
  min-height: 100vh;
}

footer {
  position: fixed;
  bottom: 0;
}
